.fbDockChatTabFlyout,.fbNubFlyoutBody,.fbNubFlyoutOuter {
	-webkit-transition: height .3s ease-out;
	transition: height .3s ease-out;
}
.fbNubFlyoutTitlebar {
	-webkit-transition: background .3s ease-out;
	transition: background .3s ease-out;
}
.messages .fsm {
	-webkit-transition: font-family .3s,color .3s, font-size .3s;
	transition: font-family .3s,color .3s, font-size .3s;
}
#fcc_height,#fcc_bg_trans,#fcc_topcolor,#fcc_txtcolor,#fcc_font,#fcc_fontsize,#fcc_bgcolor{
	cursor: pointer;
}
._5ys_:after {
	background-image: none; 
}