body {
	width:400px;
	margin:0px;
	padding:0px;
	color:#627bae;
	font-family: Calibri;
}
footer
{
	font-size: 10pt;
	padding: 1px 10px 5px 6px;
	color: grey;
	font-family: calibri;
	border-top: 1px solid silver;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color:#627bae;
}
span {
	color:#627bae;
}
span.strong {
	font-weight : bold;
}
.options {
	padding: 10px;
	display: block;
}
input {cursor:pointer}
input[type="number"] {
	padding:2px 10px 2px 10px;
	color:#627bae;
	width: 40px;
	cursor:pointer;
}
input[type="button"] {
	padding:5px 10px 5px 10px;
	width: 80px;
	text-align:center;
	cursor:pointer;
}
#section_ {background:#edeff4;color:black;}
.option .rightpane {
	display: inline-block;
	width:50%;
}
.option .leftpane {
	display: inline-block;
	width:40%;
}
#supportmessage {
	position: fixed;
	width: 97%;
	height: 100%;
	background: #1EBE39;
	top: 0px;
	left: 0px;
	color: white;
	padding: 20px 10px 20px 10px;
	font-size: 18pt;
	font-family: Calibri;
	display: none;
}
#sharebutton,#sharebuttonhide {
	background: green;
	padding: 2px 10px 2px 10px;
	border-radius: 14px;
	border: 2px solid green;
	color: #17BF3E;
	cursor: pointer;
}
#sharebutton:hover,#sharebuttonhide:hover {
	color: white;
	background: #138808;
}
#iielabel,#cpilabel {
	-webkit-transition: text-decoration .8s;
}
#iielabel:hover,#cpilabel:hover {
	text-decoration: underline;
}
.sharebutton {
	cursor: pointer;	
}

header {
	display: block;
	margin: 0px;
	background: #0C81C8;
	padding: 10px 0px 0px 35px;
	color: white;
	font-family: fantasy;
	font-size: 18px;
	-webkit-transition: background .6s;
	background-image: url(../resources/cog.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 8px 8px;
	min-height: 30px;
}
.s {
	display: block;
	background: white;
	color: black;
	padding: 0px;
	margin: 0px;
}
.s.active > .s_header {
	background-image: url(../resources/chevron-up.png);
}
.s_header {
	background-color: black;
	color: white;
	padding: 10px 15px;
	font-family: sans-serif;
	font-weight: 100;
	background-image: url(../resources/chevron-down.png);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: right 10px top 5px;
	margin: 0px;
}
.s_header:hover {
	background-color: rgba(4, 93, 157, 0.67);
	cursor: pointer;
}
.s_section {
	display: none;
	padding: 10px;
	background: rgba(192, 192, 192, 0.31);
	border: none;
	border-bottom: 1px solid black;
}
.s.active > .s_section {
	display: block;
}
.s_demo {
	display: block;
	margin-bottom: 10px;
}
